<div class="ros-widget" data-widget-name="camera-viewer" data-min-width="360" data-min-height="270" data-max-width="800"
  data-max-height="600" data-height="360" data-width="480">

  <!--  META Tags to describe topics subscription -->
  <meta data-ros-topic="1" data-ros-topic-id="1" data-ros-topic-desc="Topic to subscribe" data-ros-topic-type="sensor_msgs/Image"
    data-ros-topic-chng="onchange" data-ros-topic-slctd="" />

  <!-- The content which could be manipulated by widget class -->
  <div class="jsMjpeg"></div>
</div>