<div class="ros-widget" data-widget-name="tests"
data-min-height="225" data-min-width="300"
data-max-height="450" data-max-width="600">
  <meta data-ros-topic="1""
    data-clbk-fn="test"
    data-desc="Data topic 1"
    data-type="std_msgs/Int32|geometry_msgs/Twist"
    data-subscribed-topic="" />

  <h2>tests</h2>
  <label>Here comes the data topic 1</label>
  <span class="datatopic1"></span>
</div>
