<div class="ros-widget" data-widget-name="tests"
data-min-height="225" data-min-width="300"
data-max-height="450" data-max-width="600">
  <meta data-ros-topic="1" data-clbk-fn="test" data-type="std_msgs/Int32" />
  <h2>tests</h2>
</div>
