@import 'styles';
@import 'vars';
@import 'js';
@import 'widgets';
@import 'lightbox';
@import 'workspace';
body {
  overflow: hidden;
  background: #ccc;
  div#container {
    div.header {
      &#header1 {
        /* padding: 10px 20px; */
        background-color: $ros_color;
        /* border-bottom:1px solid darken($ros_color, 20%); */
        p {
          display: inline-block;
          /*height:26px;*/
          &.cssRosUrlPrefix {
            background-color: #fff;
            color: #000 !important;
          }
        }
        button.cssRosConnectBtn {
          padding: 0 5px;
          height: 26px;
        }
        div {
          margin: 0 10px;
          padding: 0 10px 0;
          border: solid #fff;
          border-width: 0px 1px;
          display: inline-block;
          p {
            color: white;
          }
          input {
            margin-left: 2px;
            border: none;
            height: 24px;
            font-size: 16px;
          }
        }
      }
      &#header2 {
        $header2Height: 50px;
        height: $header2Height;
        background-color: darken($ros_color, 10%);
        border-bottom: 1px solid #fff;
        >div.cssTab {
          float: left;
        }
        a.flat-btn {
          float:left;
          margin: 10px 10px 0;
        }
        a.cssHeader2Link, p {
          float: left;
          margin: 10px 10px 0;
          padding: 5px;
          color: #fff;
        }
        p {
          font-weight:bold;
        }
        a.cssHeader2Link {
          border: 1px solid #fff;
          border-radius: 6px;
          text-decoration: none;
          &.alert::after {
            padding:0 0 0 5px;
            content:url(img/alert-12.png);
          }
        }
        div.cssTab {
          display: inline-block;
          margin: 20px 3px 0px;
          $cssTabHeight: 30px;
          height: $cssTabHeight;
          border: solid #fff;
          border-radius: 6px 6px 0 0;
          border-width: 1px 1px 0;
          overflow: hidden;
          a {
            float: left;
            height: 100%;
            text-decoration: none;
            &.cssEventTab {
              padding: 0 5px;
              color: #333;
              line-height: $cssTabHeight;
            }
            &.cssEventCloseTab {
              display: inline-block;
              padding: 0 7px;
              background-image: url(img/close.png);
              background-size: 100%;
              background-position: 50%;
              background-repeat: no-repeat;
              &:hover {
                background-color: #ddd;
              }
            }
          }
        }
      }
    }
    div#content {
      .cssConfigurationContainer {
        display:none;
        position:absolute;
        z-index:50;
        width:400px;
        margin:10px;
        padding:10px 15px;
        background-color:darken($ros_color, 20%);
        label {
          color:#fff;
        }
        div {
          padding:5px;
        }
      }
      div.cssWidgetsContainer {
        display: none;
        position: absolute;
        z-index: 50;
        width: 300px;
        border-radius: 5px;
        margin:10px;
        padding:10px 15px;
        background-color: darken($ros_color, 20%);
        div.cssWidgetGroups {
          div.cssWidgetGroup {
            h3 {
              margin-top:15px;
              color:#fff;
            }
            div.cssWidgets {
              a {
                display: inline-block;
                padding: 5px 0 0 10px;
                width: 100%;
              }
            }
          }
        }
      }
      div.cssMenuWidgetsSettings {
        position: absolute;
        z-index: 50;
        right: -300px;
        width: 300px;
        background-color: darken($ros_color, 20%);
        div.cssSettings {
          width: 300px;
          h2 {
            padding: 8px 0;
            color: #fff;
            font-size: 20px;
            text-align: center;
          }
          div.cssSettingsSelection {
            padding: 20px;
            label {
              display: inline-block;
              margin-top: 10px;
              color: #fff;
              font-size: 16px;
            }
            input[type=text] {
              width: 100%;
              height: 24px;
            }
            select {
              width: 100%;
              height: 24px;
            }
          }
          div.cssSettingsBtn {
            text-align: center;
          }
        }
      }
      div#tabs {
        height: 100%;
        .cssTabContent {
          width: 100%;
          height: 100%;
        }
      }
    }
    div#footer {
      display: block;
    }
  }
}