* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.btn {
  background-color:#456b91;
  border: 1px solid #ccc;
}

.clearfix {
  clear:both;
}

.cssTab {
  display:inline;
  margin:0 5px;
}
.cssTab{
  a {
    text-decoration: none;
    &.cssEventTab {
      padding: 3px 3px 0;
      border: 1px solid #333;
      border-bottom-width: 0;
      color:#333;
    }
    &.cssEventCloseTab {
      color:red;
    }
  }
}
.cssTabContent {
  width:100%;
  min-height:300px;
  border:1px solid #333;
  background-color:#fff;
}
