* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.btn {
  background-color:#456b91;
  border: 1px solid #ccc;
}

.clearfix {
  clear:both;
}

.cssTab {
  margin:0 5px;
  padding:3px 3px 0;
  border: 1px solid #333;
  border-bottom-width: 0;
  background-color:transparent;
}
.cssTab{
  &:hover, &.active {
    background-color:#fff;
  }
}
.tabContent {
  width:100%;
  border:1px solid #333;
}
