<div class="ros-widget" 
data-widget-name="service-viewer" 
data-min-height="80" data-min-width="140" 
data-max-height="1000" data-max-width="1000" 
data-height="80" data-width="140">

  <!--  META Tags to describe topics subscription -->
  <meta data-ros-service="1"
  data-ros-service-id="1"
  data-ros-service-desc="Service selector 1"
  data-ros-service-chng="service1Changed"
  data-ros-service-sltcd="" />

  <!-- The content which could be manipulated by widget class -->
  <div class="datatopic1">
    <p class="name">-- service name --</p>
    <p class="type">-- service type --</p>
    <div class="serviceRequest"></div>
    <div class="serviceResponse"></div>
    <button type="button" class="jsWidgetServiceViewerCall">Call service</button>
  </div>
</div>
