<div class="ros-widget" data-widget-name="camera-viewer" data-min-height="600" data-min-width="800" data-max-height="900" data-max-width="1200">
  <h1>Simple URDF Example</h1>
  <div id="urdf"></div>
</div>