<div class="ros-widget" data-widget-name="action-lib-tool" data-min-height="34" data-min-width="66" data-max-height="1200"
	data-max-width="1600" data-height="300" data-width="400">

	<!--  META Tags to describe topics subscription -->
	<meta data-ros-actionserver="1" data-ros-actionserver-id="1" data-ros-actionserver-desc="Action Server" data-ros-actionserver-type="" data-ros-actionserver-chng="onchange1"
		data-ros-actionserver-slctd="" />

	<!-- The content which could be manipulated by widget class -->
	<div class="header">
		<p class="name">-- action server name --</p>
	</div>
  <div class="details">
    Goal
    <div class="actionserver goal">
      <form>
      </form>
      <!--<input type="number" class="jsWidgetActionLibToolTimeout" />-->
      <button class="jsWidgetActionLibToolSendGoal">Send goal</button>
      <button class="jsWidgetActionLibToolCancelGoal">Cancel</button>
    </div>
    Feedback
    <div class="actionserver feedback">
    </div>
    Result
    <div class="actionserver result">
    </div>
    Status
    <div class="actionserver status">
    </div>
  </div>
</div>