<div class="ros-widget" data-widget-name="service-viewer" data-min-height="300" data-min-width="400" data-max-height="1000"
	data-max-width="1000" data-height="300" data-width="400">

	<!--  META Tags to describe topics subscription -->
	<meta data-ros-topic="1" data-ros-topic-id="1" data-ros-topic-desc="Topic to subscribe" data-ros-topic-type="visualization_msgs/Marker"
		data-ros-topic-chng="onchange" data-ros-topic-slctd="" />
	<meta data-wdgt-param="1" data-widget-param-id="1" data-widget-param-desc="Fixed frame" data-widget-param-var="fixedFrame"
		data-widget-param-value="/base_link" />
	<meta data-wdgt-param="1" data-widget-param-id="2" data-widget-param-desc="AngularThres" data-widget-param-var="angularThres"
		data-widget-param-value="0.1" />
	<meta data-wdgt-param="1" data-widget-param-id="3" data-widget-param-desc="TransThres" data-widget-param-var="transThres"
		data-widget-param-value="0.1" />
	<meta data-wdgt-param="1" data-widget-param-id="4" data-widget-param-desc="Rate" data-widget-param-var="rate"
  data-widget-param-value="20" />
  
  <!-- The content which could be manipulated by widget class -->
  <div id="js3DVisualizer{{id}}" class="js3DVisualizer"></div>
</div>