<div class="ros-widget" data-widget-name="imu-viewer" data-min-height="400" data-min-width="400" data-max-height="400"
  data-max-width="400" data-height="400" data-width="400">
  <meta data-ros-topic="1" data-ros-topic-id="1" data-ros-topic-desc="Topic to subscribe" data-ros-topic-type=""
    data-ros-topic-chng="onchange" data-ros-topic-slctd="" />

  <div class="datatopic1">
    <svg></svg>
  </div>
</div>
