<div class="ros-widget" data-widget-name="diagnostics-viewer"
  data-min-height="150" data-min-width="200"
  data-max-height="1200" data-max-width="1600"
  data-height="300" data-width="400">

  <!--  META Tags to describe topics subscription -->
  <meta data-ros-topic="1"
        data-ros-topic-id="1"
        data-ros-topic-desc="Topic to subscribe"
        data-ros-topic-type="diagnostic_msgs/DiagnosticArray"
        data-ros-topic-chng="on_topic_selected"/>
  <meta data-wdgt-param="1"
        data-widget-param-id="1"
        data-widget-param-desc="Diagnostics Subject"
        data-widget-param-var="diagnosticsSubject"
		data-widget-param-value="" />

  <!-- The content which could be manipulated by widget class -->
  <div class="header">
    <p class="name">-- topic name --</p>
    <p class="type">-- topic type --</p>
    <p class="msg">-- topic message ---</p>
  </div>
  
  <svg class="content"></svg>
</div>
