<div class="ros-widget" data-widget-name="charts"
     data-min-height="150" data-min-width="200" 
     data-max-height="1200" data-max-width="1600"
     data-height="400" data-width="400">

	<!--  META Tags to describe topics subscription -->
	<meta data-ros-topic="1" data-ros-topic-id="1" data-ros-topic-desc="Topic to subscribe" data-ros-topic-type="" data-ros-topic-chng="ontopicselect" />
	<meta data-wdgt-param="1" data-widget-param-id="1" data-widget-param-desc="Topic evaluation" data-widget-param-var="topicEval" data-widget-param-value="" />

	<!-- The content which could be manipulated by widget class -->
	<div class="header">
		<p class="name">Charts</p>
	</div>
  <div class="controls">
    <button type="button" class="jsWidgetChartResume" disabled="disabled">Resume</button>
    <button type="button" class="jsWidgetChartPause">Pause</button>
    <button type="button" class="jsWidgetChartReset">Reset/Clean</button>
  </div>
	<div class="content">
    <div class="chart">
    </div>
  </div>
</div>