.cssWidgetContainer[data-widget-conf='0'] {
  div[data-widget-name='charts'] {
    border: 1px solid #333;
  }
}

div[data-widget-name='charts'] {
  float: left;
  height: 100%;
  width: 100%;
  overflow: hidden;
  div.header {
    background-color: #aee;
    border-bottom: 1px solid #333;
    p {
      text-align: center;
      padding: 0 10px;
    }
    p.name {
      font-weight: bold;
    }
  }
  div.controls {
    padding:5px 10px;
    height:30px;
    text-align:center;
  }
  div.content {
    height:calc(100% - 60px);
    div.chart {
      height: 100%;
    }
  }
}