<div class="ros-widget" 
data-widget-name="camera-viewer" 
data-min-width="480" data-min-height="360" 
data-max-width="800" data-max-height="600" 
data-height="480" data-width="360">

  <!--  META Tags to describe topics subscription -->
  <meta data-ros-topic="1" data-widget-topic-id="1" data-clbk-fn="fnCallback" data-auto-subscribe="0" data-desc="Image topic" data-type="sensor_msgs/Image" data-subscribed-topic="" />

  <!-- The content which could be manipulated by widget class -->
  <div class="jsMjpeg"></div>
</div>
