<div class="ros-widget" data-widget-name="camera-viewer" data-min-width="360" data-min-height="270" data-max-width="800"
  data-max-height="600" data-height="360" data-width="480">

  <!--  META Tags to describe topics subscription -->
  <meta data-ros-topic="1" data-ros-topic-id="1" data-ros-topic-desc="Topic to subscribe" data-ros-topic-type="sensor_msgs/Image|sensor_msgs/CompressedImage"
    data-ros-topic-chng="onchange" data-ros-topic-slctd="" />
	<meta data-wdgt-param="1" data-widget-param-id="1" data-widget-param-desc="Web Video Server Port" data-widget-param-var="webVideoServerPort"
		data-widget-param-value="8080" />
	<meta data-wdgt-param="1" data-widget-param-id="2" data-widget-param-desc="Web Video Compression Type" data-widget-param-var="webVideoCompressionType"
		data-widget-param-value="mjpeg" />

  <!-- The content which could be manipulated by widget class -->
  <div class="jsMjpeg"></div>
</div>
