<div class="ros-widget" data-widget-name="topic-subscriber" data-min-height="34" data-min-width="66" data-max-height="1200"
	data-max-width="1600" data-height="300" data-width="400">

	<!--  META Tags to describe topics subscription -->
	<meta data-ros-topic="1" data-ros-topic-id="1" data-ros-topic-desc="Topic to subscribe" data-ros-topic-type="" data-ros-topic-chng="onchange1"
		data-ros-topic-slctd="" />
	<meta data-wdgt-param="1" data-widget-param-id="1" data-widget-param-desc="Array show limit" data-widget-param-var="arrayShowLimit"
		data-widget-param-value="10" />
	<meta data-wdgt-param="1" data-widget-param-id="2" data-widget-param-desc="Value show limit" data-widget-param-var="valueShowLimit"
		data-widget-param-value="50" />
	<meta data-wdgt-param="1" data-widget-param-id="3" data-widget-param-desc="Max update rate" data-widget-param-var="maxUpdateRate"
		data-widget-param-value="1" />

	<!-- The content which could be manipulated by widget class -->
	<div class="header">
		<p class="name">-- topic name --</p>
		<p class="type">-- topic type --</p>
	</div>
	<div class="datatopic1"></div>
</div>