<div class="ros-widget" data-widget-name="google-maps-gps-viewer" data-min-height="300" data-min-width="400" data-max-height="600"
  data-max-width="800" data-height="300" data-width="400">

  <!--  META Tags to describe topics subscription -->
  <meta data-ros-topic="1" data-ros-topic-id="1" data-ros-topic-desc="Topic to subscribe" data-ros-topic-type="sensor_msgs/NavSatFix"
    data-ros-topic-chng="onchange" data-ros-topic-slctd="" />

  <!-- The content which could be manipulated by widget class -->
  <div class="mapContainer">
    <div class="map"></div>
    <div class="actions">
      <a href="#" class="jsCenterMap btn btn-view">Go to GPS position</a>
    </div>
  </div>
</div>