<div class="ros-widget" data-widget-name="topic-viewer" data-min-height="60" data-min-width="80" data-max-height="500" data-max-width="375">

  <!--  META Tags to describe topics subscription -->
  <meta data-ros-topic="1" data-widget-topic-id="1" data-clbk-fn="callback1" data-desc="Data topic 1" data-type="" data-subscribed-topic="" />

  <!-- The content which could be manipulated by widget class -->
  <div class="datatopic1"></div>
</div>
