<label>{{ros_param_desc}}</label>
<br />
<select class="jsRosParamSelector cssRosParamSelector" name="doesnotmatter" 
data-widget-instance-id="{{widget_instance_id}}" 
data-ros-param-id="{{ros_param_id}}" 
data-ros-param-chng="{{ros_param_chng}}">
  <option value="">-- Select a param to manage --</option>
</select>
