<label>{{ros_service_desc}}</label>
<br />
<select class="jsRosServiceSelector cssRosServiceSelector" name="doesnotmatter" 
data-widget-instance-id="{{widget_instance_id}}" 
data-ros-service-id="{{ros_service_id}}" 
data-ros-service-chng="{{ros_service_chng}}">
  <option value="">-- Select a service --</option>
</select>
