<label>{{desc}}</label>
<br />
<select class="jsRosTopicSelector cssRosTopicSelector" name="doesnotmatter" data-widget-topic-id="{{widget_topic_id}}" data-widget-instance-id="{{widget_instance_id}}" data-ros-topic-type="{{type}}">
  <option value="">-- Select a topic to subscribe --</option>
</select>
