<label>{{desc}}</label>
<br />
<select class="jsRosTopicSelector cssRosTopicSelector" name="doesnotmatter" data-ros-topic-type="{{type}}">
  <option value="0">-- Select a topic to subscribe --</option>
</select>
