<div class="cssTab jsTab" data-tab-id="{{id}}">
  <a href="#" class="cssEventTab jsEventTab" data-tab-id="{{id}}">{{name}}</a>
  <a href="#" class="cssEventCloseTab jsEventCloseTab" data-tab-id="{{id}}"></a>
</div>
