<div class="jsWidgetContainer cssWidgetContainer" data-widget-instance-id="{{WidgetInstance.id}}">
  <link rel="stylesheet" type="text/css" href="widgets/{{WidgetInstance.Widget.alias}}/main.css" />
  {{{content}}}
</div>