<div id="jsWidgetGroup{{id}}" class="jsWidgetGroup cssWidgetGroup">
<<<<<<< HEAD
  <h3>{{name}}</h3>
  <div class="jsWidgets cssWidgets"></div>
</div>
=======
   <h3>{{name}}</h3>
   <div class="jsWidgets cssWidgets"></div>
 </div>
>>>>>>> master
